@use "globals";
@use "menu";

html,
body {
  @include globals.reset;
  @include globals.maxsize;

  font-family: globals.$font-stack;
  overflow: hidden;
}

h2 {
  cursor: pointer;
  margin: 5px 0;
  text-align: right;
}

code {
  background-color: #444;
  max-height: 400px;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  white-space: pre-line;
}

.hidden {
  @include globals.hidden;

  display: none !important;
}

#chart {
  background-color: #fff;
  height: calc(100% - 50px);
  left: 0;
  position: fixed;
  top: 50px;
  width: 100%;
}

#title {
  @include globals.fx($dir: row);
  @include globals.fx-right;

  background-color: #333;
  height: 50px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
